* {
    background-color: orange;
}

html{
    height: 100%;
    padding-top: 200px;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    justify-content: center;
}

.scores{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.result{
    display: flex;
    justify-content: center;
}

.divWinner{
    display: flex;
    justify-content: center;
}